@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@layer swiper {
  @import '../node_modules/swiper/swiper.scss';
  @import 'swiper/scss/pagination';
  @import './swiper.scss';
}

@layer expense {
    @import "expense";
  }
  .auth_page {
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-image: url(../public/images/5291450.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}